*{
    box-sizing: border-box;
}

body{
    margin:0px;
}

#icerik{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap;
    height:100vh;
    width: 100vw;
    justify-content: center;
    margin:0px;
    border:0px;
    gap: max(5vh,5vw);
}

h1{
    font-size: 98px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    margin: 2vh;
    /* display: flex; */
}

#ayarlar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#temizle{
    margin:20px;
}

#container{
    border: min(5vw,5vh) solid darkgreen;
    border-radius: min(2.5vw,2.5vh);
    display: flex;
    /* display: grid; */
    flex-direction: column;
    align-items: center;
    height: min(80%,80vw);
    width: min(80vh,80%);
    box-sizing: border-box;
}

.pikselSatiri{
    display:flex;
    /* flex-direction: column; */
    /* flex: 1 1 2vh; */
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.pikselKutusu{
    border: 1px solid black;
    display: flex;
    flex: 1 0 auto;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: white;
    /* width: 6.25%; */
    height: 100%;
    /* padding-top: 100%; */
    margin: 0px;
}

.pikselKutusu:hover{
    transform: scale(1.1);
    /* margin: -1vw; */
    border: 2px solid black;
    /* border-style: outset; */
    animation: scale 0.5s;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.d1{
    background-color:rgba(204, 204, 204);
}
.d2{
    background-color:rgba(153, 153, 153);
}
.d3{
    background-color:rgba(102, 102, 102);
}
.d4{
    background-color:rgba(51, 51, 51);
}
.d5{
    background-color:black;
}